  $white-color: #ffffff;
  $grey: #F5F7FA;
  $small-text: #3C414A;
  $black: #111C2E;
  $black-200:#B3BBC2;
  $primary: #062150;
  $secondary: #E3EAF5;
  $accent: #FF6000;
  $peach-bg: #FBF5F1;


  @mixin btn-base($bg, $color: #ffffff, $hover-bg: $black) {
  background: $bg;
  color: $color;
  font-weight: 500;
  transition: 0.25s ease;
  display: inline-block;

  &:hover {
    background-color: $hover-bg;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }
}
