$white-color: #ffffff;
$grey: #f5f7fa;
$small-text: #3c414a;
$black: #111c2e;
$black-200: #b3bbc2;
$primary: #062150;
$secondary: #e3eaf5;
$accent: #ff6000;
$peach-bg: #fbf5f1;

@mixin btn-base($bg, $color: #ffffff, $hover-bg: $black) {
  background: $bg;
  color: $color;
  font-weight: 500;
  transition: 0.25s ease;
  display: inline-block;

  &:hover {
    background-color: $hover-bg;
  }
}

@mixin header {
  font-family: 'PTSerif';
  line-height: 1.2;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: -1px;
  @media (max-width: 760px) {
    font-size: 36px;
  }
}
@mixin btn-primary {
  font-size: 18px;
  font-family: 'Archivo';
  background: $primary;
  padding: 13px 35px;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 4px;
  border: 3px solid transparent;
  transition: all .4s ease-out;
  letter-spacing: 0;
  &:hover {
    background-color: $black;
  }
  //&:focus {
  //  border: 3px solid $black;
  //  background-color: #1F3762;
  //}
  &:active {
    background-color: #051A3D
  }
}
@mixin btn-outline {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Archivo';
  background: #fff;
  padding: 14px 35px;
  color: $primary;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 4px;
  border: 1px solid $primary;
  transition: all .4s ease-out;
  letter-spacing: 0;
  &:hover {
    color: #FF6000;
    border: 1px solid #FF6000;
  }
  //&:focus {
  //  color: #FF6000;
  //  border: 1px solid #FF6000;
  //}
  &:active {
    color: #E85A04;
    border: 1px solid #E85A04;
  }
}
@mixin btn-secondary {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Archivo';
  background: #E3EAF5;
  padding: 13px 35px;
  color: $primary;
  font-weight: 600;
  line-height: 1.2;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all .4s ease-out;
  letter-spacing: 0;
  &:hover {
    background: #C2D0E7;
    border: 1px solid #C2D0E7;
  }
  //&:focus {
  //  background: #EBF0F8;
  //  border: 3px solid #E3EAF5;
  //}
  &:active {
    background: #D3DBE9;
  }
}

 svg > path {
  transition: all .4s ease-out;
 }
